@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Thin.woff') format('woff'), url('../fonts/Roboto-Thin.ttf')  format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('Roboto-Light.woff') format('woff'), url('Roboto-Light.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/RobotoSlab-Regular.woff') format('woff'), url('../fonts/RobotoSlab-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "Roboto", sans-serif;
}
.navbar-default{
    background:none;
    border: none;
}
.navbar-default .navbar-brand{
    color:#efefef;
}
.navbar-default .navbar-nav>li>a{
    color:#efefef;
}
.navbar-fixed-bottom, .navbar-fixed-top{
    position: absolute;
}
a.navbar-brand{
    font-size: 30px;
    background: url(../img/logo.png) no-repeat left top;
    background-size: contain;
    background-position: 0px 0px;
    padding: 9px 10px 9px 50px;
    margin-top: 40px;
    height: 37px;
    margin-left: 0!important;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color:#efefef;
    opacity: 0.8;
}
.nav>li>a.accountx{
    font-size: 14px;
    font-style: italic;
    color: #c9ced7;
    font-weight: 100;
    margin-top: 35px;
    margin-right: 5px;
}
.nav>li>a.accountx:focus,.nav>li>a.accountx:hover{
    color: #b6bbc4;
    cursor: pointer;
}
.nav>li>a.log_in{
    font-size: 14px;
    text-transform: uppercase;
    color: #c9ced7;
    margin-top: 43px;
    padding: 7px 13px 6px;
    border-radius: 5px;
    background-color: #3d4b60;
    cursor: pointer;
}
.nav>li>a.log_in:focus, .nav>li>a.log_in:hover{
    color: #b6bbc4;
    background-color: #394559;
}
.modal-open{
    overflow: auto;
    padding-right: 0!important;
}
#headerwrap{
    background: url(../img/bgtop.jpg) center top;
    background-size: cover;
    padding-bottom: 200px;
}
#headerwrap h1{
    font-family: "Roboto Slab", serif;
    font-size: 40px;
    letter-spacing: 1px;
    margin-top: 270px;
    color:#fff;
}
#headerwrap p{
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 40px;
    color: #c5d2e5;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 50px;
    width: 500px;
}
#headerwrap a{
    font-size: 28px;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    background-color: #67bf95;
    border: 1px solid #67bf95;
    border-radius: 10px;
    padding: 14px 34px;
}
#headerwrap a:focus, #headerwrap a:hover{
    opacity: 0.8;
}
#headerwrap img.headerpic{
    height: 270px;
    width: 270px;
    margin-top: 285px;
}
#headerwrap .modal-footer{
    text-align: left;
    padding-left: 0px;
}
#details img.listpic{
    height: 250px;
    width: 210px;
    margin-top: 60px;
}
#details{
    padding-bottom: 80px;
}
#details h2{
    font-size:36px;
    font-family: "Roboto Slab", serif;
    letter-spacing: 1px;
    margin-top: 115px;
    color: #37414e;
}
#details p{
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 20px;
    color: #4b596c;
    line-height: 2;
    margin-right: 50px;
    text-align: justify;
}
#details .detnregbutton a{
    height: 30px;
    width: 30px;
    padding: 30px 30px;
    display: block;
    margin-top: 50px;
}
#details .detnregbutton a.pencil{
    background: url(../img/register.png) no-repeat center top;
    background-size: cover;
    margin-top: 125px;
}
#details .detnregbutton a.fac3book{
    background: url(../img/facebook.png) no-repeat center top;
    background-size: cover;
}
#details a:hover, #details a:focus{
    opacity: 0.8
}
#introduce{
    background-color: #52ad81;
}
#introduce h1{
    font-family: "Roboto", sans-serif;
    font-size: 47px;
    letter-spacing: 1px;
    margin-top: 90px;
    color:#fff;
}
#introduce p{
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-weight: 300;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 80px;
}
img.browpic{
    width: 100%;
}
#price{
    background: #f6f6f7;
}
#price h2{
    font-size:36px;
    letter-spacing: 1px;
    margin-top: 115px;
    color: #37414e;
    text-align: center;
}
#price p{
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 25px;
    color: #858b93;
    line-height: 2;
    text-align: center;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
}
#price ul{
    font-size: 28px;
    text-align: center;
    padding-left: 0;
    width: 270px;
    margin: auto;
    margin-bottom: 200px;
}
#price ul.prof3ssional{
    position: relative;
}
#price ul.prof3ssional img{
    height: 50px;
    position: absolute;
    top: -20px;
    right: -20px;
    z-index: 2;
}
#price li{
    list-style: none;
    color: #768275;
    padding-top: 35px;
    padding-bottom: 35px;
}
#price li.productname, #price li.lastbutton{
    color: #fff;
}
#price li.pric3{
    font-weight: 700;
}
#price li:first-child, #price li:last-child{
    padding-top: 15px;
    padding-bottom: 15px;
}
#price li.lastbutton{
    margin-top: 50px;
}
#price ul.fr33 li{
    background: #e9eef3;
}
#price ul.prof3ssional li{
    background: #deebde;
}
#price ul.enterpris3 li{
    background: #dee9ec;
}
#price ul.fr33 li:first-child{
    background: #4b596c;
}
#price ul.prof3ssional li:first-child{
    background: #58ad52;
}
#price ul.enterpris3 li:first-child{
    background: #52a1ad;
}
#price .pr1c3{
    background: #e9eaed;
}
#price .pr1c3 h2{
    margin-top: 45px;
    margin-bottom: 45px;
    color: #4b596c;
}
#price .fr33 a{
    padding: 18px 87px;
    color: #fff;
    text-decoration: none;
    background: #4b596c;
}
#price .prof3ssional a{
    padding: 18px 79px;
    color: #fff;
    text-decoration: none;
    background: #58ad52;
}
#price .enterpris3 a{
    padding: 18px 79px;
    color: #fff;
    text-decoration: none;
    background: #52a1ad;
}
#price a:hover, #price a:focus{
    opacity: 0.85;
}
#video {
    width: 100%;
    height: 0.5625vh;
    padding-bottom: 56.25%;
}
#video iframe{
    width: 100%;
    height: 100%;
}
#contact{
    background: #2d3136;
}
#contact img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 260px;
    width: 260px;
}
#contact{
    color: #d7d7d7;
    font-size: 26px;
}
#contact label{
    margin-bottom: 15px;
}
#contact span{
    vertical-align: super;
    color: #b8393b;
}
#contact input, #contact textarea{
    background: #2e3237;
    color: #d7d7d7;
    border-color: #4c4f53;
    border-width: 2px;
    margin-bottom: 40px;
    font-size: 18px;
}
#contact input{
    width: 80%;
    height: 55px;
}
#contact textarea{
    height: 210px;
    min-height: 210px;
    max-height: 210px;
    min-width: 555px;
}
#contact input:focus, #contact textarea:focus{
    background: #2f3136;
    border-color: #743538;
    -webkit-box-shadow: none;
            box-shadow: none;
    
}
#contact button{
    float: right;
    padding: 15px 50px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #fff;
    background: #be393b;
    border-radius: 5px;
    border-color: #be393b;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 80px;
}
#contact button:focus, #contact button:hover{
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    background: #b7282a;
    border-color: #b7282a;
    
}
#footer{
    background: #2a2d33;
    padding-top: 30px;
    padding-bottom: 30px;
}
#footer .logos{
    display: inline;
}
#footer .socialss{
    display: inline;
}
#footer a.logo{
    background: url(../img/logo.png) no-repeat left top;
    background-size: contain;
    background-position: 0px 0px;
    padding: 3px 3px 3px 40px;
    font-size: 20px;
    color: #efefef;
    display: inline;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#footer p{
    display: inline;
    color: #8d8d8d;
}
#footer a.socials{
    display: inline;
    float: right;
    padding: 18px;
}
#footer a.twitter{
    background: url(../img/twitter.png)  no-repeat left top;
    background-size: contain;
    margin-right: 35px;
}
#footer a.facebook{
    background: url(../img/bottomfb.png) no-repeat left top;
    background-size: contain;
    margin-right: 10px;
}
#footer a:hover, #footer a:focus{
    opacity: 0.8;
    text-decoration: none;
}